services:
  frontend:
    build:
      context: ./client
      args:
        MODE: ${MODE}
    container_name: frontend
    ports:
      - "80:80"
    restart: always

  backend:
    build: ./server
    container_name: backend
    env_file:
      - ${ENV_FILE}
    ports:
      - "5000:5000"
    restart: always
